services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_patterns_app
    restart: unless-stopped
    volumes:
      - ./src:/var/www/html
    networks:
      - slim-network
  webserver:
    image: nginx:alpine
    container_name: php_patterns_webserver
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - slim-network

networks:
  slim-network:
    driver: bridge